.comment-profile-avatar{
    display: flex;
    flex: 1;
}

.profile-avatar-circle{
    height: 50px;
    width: 50px;
    background-color: orangered;
    border-radius: 90px;
    margin-top: 2px;
}

.profile-avatar-circle h6{
    text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;
}

.comment-profile-name{
    flex: 1;
    padding-left: 10px;
    margin-top: 10px;
}