.home-sidebar-section{
    display: flex;
    background-color: burlywood;
}

.home-sidebar{
    height: 100vh;
    /* background-color: grey; */
    background-color: black;
    width: 95px;
    position: fixed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.home-sidebar-expand {
    width: 230px;
}

.icon-for-sidebar-expand-and-collapse{

    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;
}

.icon-for-sidebar-expand-and-collapse p svg{

    background-color: #19092c;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin-top: 50px;

}


.container-fluid{
    padding-left: 0px!important;
    padding-right: 0px!important;
    overflow: hidden;
}

@media (max-width:1400px) {
    .sidebar{
        display: none;
    }
    .home-sidebar{
        display: none;
    }
}